.addbtn {
    padding: 8px;
    margin-left: 0.5%
}

.tasktext {
    width: 100%;
}

.taskbody {
    height: 3.2rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1rem;
}

.addinput {
    width: 500px;
    height: auto;
    
}

.taskimportant {
    border: hidden;
    background: none;
    margin-left: 0.5rem;
    padding: 0;
  }

.taskcheck {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

.tasktime {
    text-align: center;
    width: 8.125rem;
}

.taskdelete {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

.title {
  font-size: 3rem;
}

.list {
  padding-left: 0;
  margin-left: 12%;
  margin-right: 12%;
}

.listname {
  font-size: 2rem;
}

.dltlist {
  font-size: 2rem;
  padding: 0;
  margin-left: 0.5rem;
}

.dropup .dropdown-toggle::after {
  margin-left: 0;
}

.dropup {
  margin-left: 0.5rem;
}

li {
  list-style-type: none;
}
