.addbtn {
    padding: 8px;
    margin-left: 0.5%
}

.tasktext {
    width: 100%;
}
.taskbody {
    height: 3.2rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1rem;
    background: linear-gradient(to right, rgb(255, 149, 0), rgb(245, 218, 11));
}

.addinput {
    width: 500px;
    height: auto;
    
}

.taskimportant {
    border: hidden;
    background: none;
    margin-left: 0.5rem;
    padding: 0;
  }

.taskcheck {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

.tasktime {
    text-align: center;
    width: 8.125rem;
}

.taskdelete {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

.title {
  font-size: 3rem;
}

.list {
  padding-left: 0;
  margin-left: 12%;
  margin-right: 12%;
}

.listname {
  font-size: 2rem;
}

.dltlist {
  font-size: 2rem;
  padding: 0;
}

.dropup .dropdown-toggle::after {
  margin-left: 0;
}

.dropup {
  margin-left: 0.5rem;
}

li {
  list-style-type: none;
}

.dropend {
  margin-left: 0.5rem;
}

.authorization {
  background: linear-gradient(to left top, rgb(255, 149, 0), rgb(245, 218, 11));
  border: none;
  border-radius: 50px;
  width: 66px;
  height: 66px;
  
}

.authorization-item:hover {
  color: rgb(255, 149, 0);
  --bs-dropdown-link-active-bg: rgb(245, 218, 11);
}

.dropdown-toggle::before {
  border-top: none;
}

.auth-menu {
  color:  rgb(255, 149, 0);
}

