.addbtn {
    padding: 8px;
    margin-left: 0.5%
}

.tasktext {
    width: 100%;
}

.taskbody {
    height: 3.2rem;
    margin-left: 15%;
    margin-right: 15%;
}

.addinput {
    width: 500px;
    height: auto
}

.taskimportant {
    border: hidden;
    background: none;
    margin-left: 0.5rem;
    padding: 0;
  }

.taskcheck {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

.tasktime {
    text-align: center;
    width: 8.125rem;
}

.taskdelete {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

input[name="taskcheck"]:checked + .tasktext {
    text-decoration: line-through;
    pointer-events: none;
  }

.title {
  font-size: 3rem;
}
